html {
    background-color: #433512;
    color: #433512;
}

body {
    margin: 0;
}

header {
    position:fixed;
    width: 100%;
    margin: 0;
    z-index: 5;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #ca9a4eb4;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    margin: 0 0;
    padding: 0%;
}

.container li img {
    align-self: flex-start;
}

.container li {
    list-style: none;
    margin: 0%;
    text-align: center;
    flex: none;
}

a {
    text-decoration: none;
    color: #433512;
}

a:hover {
    text-decoration: underline;
    color: black
}
 
@media only screen and (max-width: 480px) {
    .container {
        flex-direction: column;
        height: 150px;

    }
    .container li {
        border-style: solid;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .container li img {
        display: none;
    }
}

.main {
    padding-top: 60px;
    opacity: 0.85;

}
.box {
    display: flex;
    justify-content: center;   
    background-image: url('Безымянный.png');
    height: 350px;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    align-items: center;
}

.love {
    width: auto;
    font-size: 28px;
    background-color: #ca8230be;
    padding: 50px;
    font-family: 'Bebas Neue', cursive;
    border-radius: 5%;
}

@media only screen and (max-width: 480px) {
.box {
    background-image: url('Безымянный2.png');
    width: auto;
    margin-top: 0;
}
.love {
    font-size: 22px;
    padding: 25px;
    justify-content: center;
}
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #ca8230d5;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    margin: 0 0;
    padding: 0%;
}

.content {
    display: flex;
    justify-content: center;   
    text-align: center;
    background-position: center;
    margin-top: 30px;
    align-items: center;
}

.bread, 
.beaker {
    width: 300px;
    margin-top: 10px;

}

.bread img
{
    height: 200px;
    border-radius: 5%;
}
.beaker img {
    height: 180px;
    border-radius: 5%;
}

.bread h3
.beaker h3 {
    margin: 10px;
}
.our .love {
    display: block;
    margin: 15px auto;
    opacity: 0.9;
    border-radius: 5%;
    width:auto;
    margin-bottom: 20px;
}


.cont {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #ca8230d5;
    font-family: 'Bebas Neue', cursive;
    font-size: 12px;
    margin: 0 0;
    margin-top: 15px;
    padding: 0%;
    width: 100%;
}
